.App {
  font-family: sans-serif;
  text-align: center;
  display: block;
}

.counter {
  width: 60%;
  border: 1.5px solid lightcoral;
  margin: 5rem auto;
  border-radius: 1rem;
  padding: 1rem;
}

.title {
  margin-bottom: 1rem;
}

.button-container {
  display: flex;
  margin: 1rem auto;
  justify-content: center;
  gap: 1rem;
}

button {
  height: 40px;
  width: 100px;
  background-color: lightcoral;
  border: none;
  color: white;
  font-weight: 500;
  border-radius: 5px;
}
